<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="sideBar">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="sideBar">
  <ion-card>
    <img (click)="irParaCamera" src="assets/imgs/camera.png"/>
    <ion-card-content>
        <ion-card-title>Compartilhe seus pratos!</ion-card-title>

      <ion-card-title>
        <p *ngIf = "escondeDado" >Nome: {{perfil.nome}}</p>
        <input *ngIf = "edicaoPerfil" [(ngModel)]="perfil.nome" type="text">
        </ion-card-title>
        <p *ngIf = "escondeDado">E-mail: {{perfil.email}}</p>
        <input *ngIf = "edicaoPerfil" [(ngModel)]="perfil.email" type="text">

        <p *ngIf = "escondeDado">Telefone: {{perfil.telefone}}</p>
        <input *ngIf = "edicaoPerfil" [(ngModel)]="perfil.telefone" type="text">
        <br>
        <ion-list>Plano</ion-list>
      <p *ngIf = "escondeDado">{{perfil.plano}}</p>
        <input *ngIf = "edicaoPerfil" [(ngModel)]="perfil.plano" type="text">
     
      <button ion-button color="light" class="sideBar" (click)="editarPerfil()">Editar Perfil</button>
      <button ion-button color="light" class="sideBar" (click)="salvarPerfil()">Salvar</button>
      <ion-list inset>
        <button ion-item (click)="irReceitaSalva()" class="sideBar" >Lista de Desejos</button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
