page-detalhe-receita {
  img{
      margin-top: 50px;
      width: 100%;
  }

  .ion-ios-star{
      color: gold;
      padding: 0px;
    }
   

  img.ingredientes{
       margin-top:10px;
  }
  
  .button-ios-danger, .fab-ios{
    background-color: #f33544;
  }
   
  .fab ion-icon{
    color: white;
  }

}
