<!--
  Generated template for the ReceitasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>List</ion-title>
    </ion-navbar>
  </ion-header>

</ion-header>


<ion-content padding id="content">
  <ion-card *ngFor = "let produto of dadosReceitas.receitas" id="cards">
    <button (click)= "irParaDetalheReceita(produto)">
    <img src={{produto.img}}>
  
    <!-- <ion-item>
      <h1>{{produto.produto}}</h1>
    </ion-item> -->

    <ion-item>
      <h1>{{produto.produto}}</h1>
      <h3>
      <!-- <ion-icon name="star"  medium *ngFor = "let i of {{produto.rate}}"></ion-icon> -->
      <ion-icon name="star"  medium></ion-icon>
      <ion-icon name="star"  medium></ion-icon>
      <ion-icon name="star"  medium></ion-icon>
      <ion-icon name="star"  medium></ion-icon>
      <ion-icon name="star"  medium></ion-icon>
      {{produto.nRate}}
      </h3>
      <h4>
      <ion-icon name="timer">  {{produto.tempo}}</ion-icon>
      </h4>
    </ion-item>
    
    </button>  
  </ion-card>

</ion-content>
